 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 438px;
}

.u-section-1 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-image-1 {
  height: 380px;
  margin-top: 0;
  margin-bottom: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 722px;
}

.u-section-2 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-2 .u-image-1 {
  height: 410px;
  margin-top: 0;
  margin-bottom: 0;
}